.hero-why-mbc-container {
  position: relative;
  padding: 15rem 2rem;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pre-title {
    position: relative;
    font-weight: 400;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
  }

  .title {
    max-width: 750px;

    position: relative;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  .content {
    position: relative;

    max-width: 700px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.75rem;
  }

  .cta-container {
    position: relative;
    display: flex;
    margin: 1rem 0;

    .cta-button {
      padding: 1rem 2rem;
      text-transform: uppercase;
      border: 1px white solid;
      margin: .5rem;
      color: white;

      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .arrow-placement {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
}
