@import "assets/scss/breakpoints.scss";

.hero-internship-container {
  position: relative;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;

  min-height: 100vh;
  padding-top: 70px;

  display: flex;
  align-items: center;
  .content-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
    }

    .hero-column {
      padding: 1.5rem;
      display: flex;

      &.main-content {
        position: relative;
        padding: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        @include for-tablet-landscape-up {
          border-right: 2px white solid;
          min-height: 60vh;
        }

        .title,
        .pre-title {
          position: relative;
          font-size: 2.5rem;
          line-height: 2.5rem;
          font-weight: 400;

          @include for-tablet-portrait-up {
            font-size: 3rem;
            line-height: 3rem;
          }
        }

        .title {
          text-align: left;
          white-space: nowrap;
          margin-bottom: 1.5rem;
          white-space: pre-line;
        }

        .content {
          position: relative;
          font-weight: 300;
          line-height: 1.75rem;
          margin-bottom: 2rem;
        }
      }

      .cta-button {
       position: relative;
        padding: 1rem 5rem;
        border: 1px white solid;
        text-transform: uppercase;
        font-weight: 500;
        align-items: center;
        cursor: pointer;
        span {
          margin-right: 1rem;
        }
      }

      .showcase {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        margin: auto 0;
        padding: 1rem;

        @include for-tablet-portrait-up {
          grid-template-columns: repeat(2, 1fr);
          padding: 3rem 0;
          padding-left: 1rem;
        }

        .showcase-item {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0 1.5rem;
          margin-bottom: 50px;

          .showcase-icon {
            width: 50px;
            margin: 0 auto;
            margin-bottom: 0.5rem;
          }

          .title {
            font-size: 1rem;
            line-height: 1.2rem;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .description {
            text-align: center;
            font-size: 1rem;
            font-weight: 300;

            @include for-tablet-portrait-up {
              text-align: start;
            }
          }
        }
      }
    }
  }

  .arrow-placement {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
