.hero-internship-container {
  position: relative;
  padding: 15rem 2rem;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;

  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .hero-column {
    flex-basis: 50%;
    min-height: 70vh;
    padding: 1.5rem;
    display: flex;

    &.main-content {
      border-right:2px white solid;
      padding: 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .title,
    .pre-title {
      position: relative;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 400;
    }

    .title {
      margin-bottom: 1.5rem;
    }
    .content {
      position: relative;
      font-weight: 300;
      line-height: 1.75rem;
      margin-bottom: 2rem;
    }

    .cta-button {
      padding: 1rem 5rem;
      border: 1px white solid;
      text-transform: uppercase;
      font-weight: 500;
      align-items: center;
      cursor: pointer;
      span {
        margin-right: 1rem;
      }
    }

    .showcase {
      display: flex;
      flex-wrap: wrap;
      padding-left: 3rem;
      height: 100%;
      margin: auto 0;
      
      .showcase-item {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        margin-bottom: 70px;

        .title {
          font-size: 1rem;
          line-height: 2rem;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .description {
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
  }

  .arrow-placement {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
