@import "asset/scss/breakpoints.scss";

.InternshipApplicationSectionContainer {
  display: grid;
  grid-template-columns: 1fr;

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, 1fr);
  }

  .requirements {
    background-color: rgba(22, 37, 112, 1);
    padding: 1.5rem 2rem;
    color: white;
  }

  .internshipForm {
    padding: 1.5rem 2rem;
    color: black;
    .header {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .formContainer {
      label {
        font-weight: 300;
        font-size: 0.9rem;
      }

      .row {
        margin-left: -5px;
        margin-right: -5px;

        .col {
          padding: 0 5px;
        }
      }

      .textInputWrapper {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        border: 1px rgba(196, 196, 196, 1) solid;
        padding: 10px;
        font-weight: 300;
      }

      .btnUpload {
        border-radius: 0;
        border: 1px rgba(196, 196, 196, 1) solid;
        color: black;
        text-align: start;
        font-size: 12px;
        font-weight: 400;
        margin-right: 0;
        padding: 14px 10px;
        white-space: nowrap;
        overflow-x: hidden;
        
        &:hover {
          background-color: rgba(0, 146, 221, 1);
          border-color: rgba(0, 146, 221, 1);

          color: white;
        }
      }

      .subtext {
        font-size: 0.8rem;
        opacity: 0.6;
      }

      .submitBtn {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
        white-space: nowrap;
        padding: 1rem 1.5rem;
        background-color: rgba(0, 146, 221, 1);
        color: white;
        border-radius: 0;
        cursor: pointer;
      }
    }
  }
}
