.jobsSectionContainer {
  display: flex;
  flex-direction: column;

  .header {
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(55, 52, 53, 1);
  }

  .searchContainer {
    border-bottom: 1px rgba(196, 196, 196, 1) solid;
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    .searchWrapper {
      padding: 0.5rem 1rem;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      background-color: transparent;
      border: 1px rgba(196, 196, 196, 1) solid;
      font-weight: 300;
    }
  }
  .jobsContainer {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    .jobsItem {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      align-items: center;
      border-bottom: 1px rgba(196, 196, 196, 1) solid;

      .company {
        justify-self: end;
      }

      .link {
        .openingLink {
          white-space: nowrap;
          text-decoration: none;
          padding: 0.5rem 1.5rem;
          background-color: rgba(0, 146, 221, 1);
          color: white;
          border-radius: 4px;
        }
      }

      div {
        padding: 1.5rem 1rem;
        color: rgba(55, 52, 53, 1);
        font-weight: 400;
      }
    }
  }

  .internshipCTA {
    display: inline-block;
    padding: 0.5rem 5rem;
    margin: 0 auto;
    color: rgba(22, 37, 112, 1);
    border: 1px rgba(22, 37, 112, 1) solid;
    cursor: pointer;

    &:hover{
       background-color: rgba(22, 37, 112, 1); 
       color: white;
    }
  }
}
