@import "assets/scss/breakpoints.scss";

.benefitsSectionContainer {
  padding: 4rem 2.5rem;
  padding-top: calc(64px + 70px);
  margin-top: -69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(55, 52, 53, 1);

  .header {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .subHeading {
    margin-bottom: 3rem;
    max-width: 700px;
    text-align: center;
    font-weight: 300;
  }

  .content {
    margin: 2rem 0;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: start;

    @include for-tablet-landscape-up {
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }

    .gridItem {
      display: flex;
      align-items: center;
      font-weight: 700;
      padding: 1rem 0;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
