@import "assets/scss/breakpoints.scss";

.gallery-tile-container {
  position: relative;
  display: grid;

  grid-template-columns: 1fr;

  @include for-desktop-up {
    grid-template-columns: 35% auto;
  }
  .content-wrapper {
    display: flex;
    align-items: center;

    padding: 3rem 3rem;
    line-height: 2.5rem;

    font-weight: 300;
    color: black;
  }

  .tile-container {
    padding: 2px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }

  .tile-item {
    padding-bottom: 150%;
    background-size: cover;
    background-position: center;

    &.span-2 {
      padding-bottom: 0;
      grid-column: span 2;
    }
  }
}
