@import "assets/scss/breakpoints.scss";

.workWithUsSection {
  display: flex;
  flex-direction: column;
  
  .faqs {
    .topbar {
      padding: 1rem 2rem;
      color: black;
      border-bottom: 1px black solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow-x: hidden;

      &::before {
        content: "FAQs";
        font-size: 32px;
        line-height: 32px;
        font-weight: 500;
        white-space: nowrap;
        margin-right: 20px;

        @include for-tablet-landscape-up {
          margin-right: 50px;
          content: "Frequently Asked Questions";
        }
      }
      .searchContainer {
        position: relative;
        width: 100%;
        max-width: 800px;

        .searchWrapper {
          width: 100%;
          background-color: transparent;
          border: 1px black solid;
          padding: 0.5rem 1rem;
        }

        .searchIcon {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .questionsContainer {
      width: 100%;
      max-width: 1200px;
      margin: 1rem auto;

      .questionItem {
        .question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 0.5rem;
          border-bottom: 1px black solid;

          .arrow {
            font-size: 25px;
          }

          .englishTranslation {
            margin-bottom: 5px;
          }

          .tagalogTranslation {
            font-size: 0.8rem;
            font-weight: 400;
            opacity: 0.6;
          }
        }

        .answer {
          background-color: white;
          max-height: 0;
          overflow: hidden;
        }

        &.active {
          .question {
            .arrow {
              transform: rotate(180deg);
              color: #0092dd;
            }

            .englishTranslation {
              font-weight: 600;
            }
          }

          .answer {
            padding: 1rem;
            border-bottom: 1px black solid;
            height: auto;
            max-height: 100%;

            .tagalog {
              font-weight: 400;
              font-size: 0.9rem;
              opacity: 0.8;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }

  .ctaButtons {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    button {
      margin: 0 1rem;
      padding: 1rem 2rem;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px rgba(22, 37, 112, 1) solid;
      color: rgba(22, 37, 112, 1);

      &:hover {
        color: white;
        background-color: rgba(22, 37, 112, 1);
      }
    }
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .header {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      color: rgba(55, 52, 53, 1);
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .testimonial-list-container {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 2rem;
      padding-left: 2rem;
    }
  }
}
